@import '~bootstrap/scss/bootstrap';
@import '~resources/scss/partials/_header.scss';
@import '~resources/scss/partials/_jumbotron.scss';
@import '~resources/scss/partials/_detail_card.scss';
@import '~resources/scss/partials/_icon-cont.scss';
@import '~resources/scss/partials/_footer.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border:solid 1px black;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:black;
}