@import '~bootstrap/scss/bootstrap';
@import '~resources/scss/partials/_header.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // border:solid 1px black;
}

ul{
    list-style-type: none;
}
